/* Custome css by nexterweb */
/* Year : 2020 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;;
    background-color: whitesmoke;
    margin: 0;
}

header {
    display: inline;
}

nav {
    background-color: #0062a3;
    position: sticky;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 120px;
    padding-right: 120px;
    border: none;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 50px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

aside {
    float: right;
    padding-right: 80px;
}

main {
    padding: 20px;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

h2 {
    color: #0062a3;
}

h3 {
    color: #0062a3;
}

footer {
    padding: 20px;
    color: white;
    background-color: #4d92bf;
    text-align: center;
    font-weight: bold;
}

.header-content {
    font-size: 20px;
    padding: 120px;
    background-color: #4d92bf;
    text-align: center;
    color: white;
}

.box {
    height: 300px;
    width: 300px;
    background-color: #11C5C6;
}

.content {
    float: left;
    margin-left: 100px;
    width: 65%;
}

.img-logo {
    position: absolute;
    width: 100px;
    max-height: 50px;
    top: 10px;
    left: 100px;
    overflow: hidden;
}

.card {
    box-shadow: 0px 6px 8px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fffcfc;
}

.card-box {
    margin: 5px;
    border-radius: 5px;
    flex-grow: 1;
}

.profile header, .profile section {
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container-flex {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #00bfd8 url("../img/up-arrow.png")no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #00a7bd; 
}

.content-image  {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1000px) {
    #content,
    aside{
        width: 100%;
        padding: 0;
    }
}
